@model HotelChainViewModel
@{
    ViewData["Title"] = "EditHotelChain";
}

<h2 id="toTop">Edit an hotel chain</h2>
<div id="topList" class="row" style="display:none">
    <div class="col-md-12">
        <h3><span id="topError" class="label label-danger"></span></h3>
        <h3><span id="topSuccess" class="label label-success"></span></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.HiddenFor(Model => Model.Hcid, new { id = "hotelChainHcid" })
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelChainName"></label>
                <input asp-for="HotelChainName" class="form-control" />
                <span asp-validation-for="HotelChainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AptNumber"></label>
                <input asp-for="AptNumber" class="form-control" />
                <span asp-validation-for="AptNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
</div>
<div class="row" style="padding-top:5%">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hotel chain phones</h3>
            </div>
            <div class="panel-body">
                <ul id="phoneList" class="list-group">
                    @{ int index = 0;}
                    @foreach (var item in Model.phones)
                    {
                        <!-- If modified, also modify the html generated in the addPhone javascript function -->
                        <li class="list-group-item" id="phone@(index)">
                            @item.PhoneNumber
                            <a onclick="phoneDelete(@item.Hcid, '@item.PhoneNumber', @index)" class="text-center col-md-2">
                                <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete this phone number"></i>
                            </a>
                        </li>
                        index++;
                    }
                </ul>
                <div class="col-md-2">
                    <a data-toggle="modal" data-target="#AddPhoneModal">
                        <span data-toggle="tooltip" data-placement="top" title="Add a phone number">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top:5%">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hotel chain emails</h3>
            </div>
            <div class="panel-body">
                <ul id="emailList" class="list-group">
                    @{ int index2 = 0;}
                    @foreach (var item in Model.emails)
                    {
                        <!-- If modified, also modify the html generated in the addEmail javascript function -->
                        <li class="list-group-item" id="email@(index2)">
                            @item.Email
                            <a onclick="emailDelete(@item.Hcid, '@item.Email', @index2)" class="text-center col-md-2">
                                <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete this email"></i>
                            </a>
                        </li>
                        index2++;
                    }
                </ul>
                <div class="col-md-2">
                    <a data-toggle="modal" data-target="#AddEmailModal">
                        <span data-toggle="tooltip" data-placement="top" title="Add email">
                            <i class="glyphicon glyphicon-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -----------------------Modal Windows-------------------------- -->
<div class="modal fade" id="AddPhoneModal" tabindex="-1" role="dialog" aria-labelledby="PhoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="PhoneModal">Add a phone number to this hotel chain</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="PhoneAdd"></label>
                    <input id="valuePhone" asp-for="PhoneAdd" class="form-control" />
                    <span id="errorPhone" asp-validation-for="PhoneAdd" class="text-danger"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a onclick="phoneAdd()" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddEmailModal" tabindex="-1" role="dialog" aria-labelledby="EmailModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="EmailModal">Add a email to this hotel chain</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="EmailAdd"></label>
                    <input id="valueEmail" asp-for="EmailAdd" class="form-control" />
                    <span id="errorEmail" asp-validation-for="EmailAdd" class="text-danger"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <a onclick="emailAdd()" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------Modal Windows-------------------------- -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        function phoneDelete(hotelChain, phone, index) {
            var result = confirm("Are you sure you want to delete this phone number?");
            if (result) {
                var json = JSON.stringify({
                    'Hcid': hotelChain,
                    'PhoneNumber': phone.toString()
                });

                $.ajax({
                    url: '@Url.Action("DeleteHotelChainPhone", "Home")',
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: json,
                    success: function (data) {
                        if (data.includes("Error")) {
                            $("#topList").fadeIn();
                            $("#topError").text(data);
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                        else {
                            $('#phone' + index).remove();
                            $("#topList").fadeIn();
                            $("#topSuccess").text("The phone number was successfully deleted");
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                    },
                    error: function () {
                        console.log("An error happened");
                    }
                });
            }
        }

    var myIndex = 100;
    function phoneAdd() {
        $('#AddPhoneModal').modal('toggle');
        var hotelChain = $('#hotelChainHcid').val();
        var phone = $('#valuePhone').val();
        var json = JSON.stringify({
            'Hcid': hotelChain,
            'PhoneNumber': phone.toString()
        });

        $.ajax({
            url: '@Url.Action("AddHotelChainPhone", "Home")',
            type: "POST",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: json,
            success: function (data) {
                if (data.includes("Error")) {
                    $("#topList").fadeIn();
                    $("#topError").text(data);
                    setTimeout(function () {
                        $("#topList").fadeOut();
                    }, 5000);
                    $("#toTop").get(0).scrollIntoView();
                }
                else {
                    $('#phoneList').append(
                        `
                        <li class="list-group-item" id="phone` + myIndex + `">`
                        + phone +
                        `<a onclick="phoneDelete(` + hotelChain + `, '` + phone + `', ` + myIndex +`)" class="text-center col-md-2">
                                <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete this phone number"></i>
                            </a>
                        </li>
                    `
                    );
                    $("#topList").fadeIn();
                    $("#topSuccess").text("The phone number was successfully added");
                    setTimeout(function () {
                        $("#topList").fadeOut();
                    }, 5000);
                    $("#toTop").get(0).scrollIntoView();
                    $('#valuePhone').val('');
                }
            },
            error: function () {
                console.log("An error happened");
            }
        });
        }

        function emailDelete(hotelChain, email, index) {
            var result = confirm("Are you sure you want to delete this email?");
            if (result) {
                var json = JSON.stringify({
                    'Hcid': hotelChain,
                    'Email': email.toString()
                });

                $.ajax({
                    url: '@Url.Action("DeleteHotelChainEmail", "Home")',
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: json,
                    success: function (data) {
                        if (data.includes("Error")) {
                            $("#topList").fadeIn();
                            $("#topError").text(data);
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                        else {
                            $('#email' + index).remove();
                            $("#topList").fadeIn();
                            $("#topSuccess").text("The email was successfully deleted");
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                    },
                    error: function () {
                        console.log("An error happened");
                    }
                });
            }
        }

    function emailAdd() {
        $('#AddEmailModal').modal('toggle');
        var hotelChain = $('#hotelChainHcid').val();
        var email = $('#valueEmail').val();
        var json = JSON.stringify({
            'Hcid': hotelChain,
            'Email': email.toString()
        });

        $.ajax({
            url: '@Url.Action("AddHotelChainEmail", "Home")',
            type: "POST",
            headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: json,
            success: function (data) {
                if (data.includes("Error")) {
                    $("#topList").fadeIn();
                    $("#topError").text(data);
                    setTimeout(function () {
                        $("#topList").fadeOut();
                    }, 5000);
                    $("#toTop").get(0).scrollIntoView();
                }
                else {
                    $('#emailList').append(
                        `
                        <li class="list-group-item" id="email` + myIndex + `">`
                        + email +
                        `<a onclick="emailDelete(` + hotelChain + `, '` + email + `', ` + myIndex +`)" class="text-center col-md-2">
                                <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete this email"></i>
                            </a>
                        </li>
                    `
                    );
                    $("#topList").fadeIn();
                    $("#topSuccess").text("The email was successfully added");
                    setTimeout(function () {
                        $("#topList").fadeOut();
                    }, 5000);
                    $("#toTop").get(0).scrollIntoView();
                    $('#valueEmail').val('');
                }
            },
            error: function () {
                console.log("An error happened");
            }
        });
    }
    </script>
}