@model List<Booking>
@{
    ViewData["Title"] = "CustomerBookings";
}

<style>
    .box {
        padding: 30px 0px;
    }

    .box-part {
        background: #FFF;
        border-radius: 10px;
        padding: 30px 10px;
        margin: 30px 0px;
        border: 1px solid lightgray;
        box-shadow: 0 8px 6px -6px black;
    }

    .text {
        margin: 20px 0px;
    }

    .fa {
        color: #4183D7;
    }
</style>

<h2 id="toTop">My bookings</h2>
<h5>Note that these bookings are those that haven't passed yet.</h5>
<hr />

<div id="topList" class="row" style="display:none">
    <div class="col-md-12">
        <h3><span id="topError" class="label label-danger"></span></h3>
        <h3><span id="topSuccess" class="label label-success"></span></h3>
    </div>
</div>

<div class="box">
    <div class="row">
        @if (Model.Count > 0)
        {
            int index = 1;
            @foreach (Booking b in Model)
            {
                <div id="booking@(b.Bid)" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">

                        <div class="title">
                            <h3>Booking #@index</h3>
                            <h4>@b.R.H.HotelName</h4>
                        </div>

                        <div>
                            <h5 class="text-muted">Room #@b.R.RoomNum</h5>

                            <h1 style="padding:3% 0 3% 0;">$@string.Format("{0:N2}", (b.R.Price * ((b.EndDate - b.StartDate).Days + 1)) * (decimal)1.13)</h1>
                        </div>

                        <div>
                            @if (b.R.Landscape == Constants.SEAVIEW)
                            {
                                <h5>View on the sea!</h5>
                            }
                            else if (b.R.Landscape == Constants.MOUNTAINVIEW)
                            {
                                <h5>View on the mountain!</h5>
                            }
                        </div>

                        <div class="text">
                            <h4>@b.StartDate.ToString("dd MMMM yyyy") - @b.EndDate.ToString("dd MMMM yyyy")</h4>
                            <h6><em>(@((b.EndDate - b.StartDate).Days + 1) Nights)</em></h6>
                        </div>

                        <div>
                            <a onclick="deleteBooking(@b.Bid);"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                </div>
                index = index + 1;
            }
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_feedbackScripts")
}

<script>
    function deleteBooking(bid) {
            var result = confirm("Are you sure you want to delete this room?");
            if (result) {
                var json = JSON.stringify({
                    'Bid': bid.toString()
                });

                $.ajax({
                    url: '@Url.Action("DeleteBooking", "Customer")',
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: json,
                    success: function (data) {
                        if (data.includes("Error")) {
                            $("#topList").fadeIn();
                            $("#topError").text(data);
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                        else {
                            $('#booking' + bid).remove();
                            $("#topList").fadeIn();
                            $("#topSuccess").text(data);
                            setTimeout(function () {
                                $("#topList").fadeOut();
                            }, 5000);
                            $("#toTop").get(0).scrollIntoView();
                        }
                    },
                    error: function () {
                        console.log("An error happened");
                    }
                });
            }
        }
</script>